
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Poppins', sans-serif !important;
}



/* The sidebar menu */
#mySidebar{
z-index: 300;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 30px 8px 8px 40px;
  text-decoration: none;
  font-size: 35px;
  color: red;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
  background-color: ;
  }

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 100px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  color: red;
  padding: 2px 20px;
  border: none;
  position: fixed;
  right: 5px;
}

.openbtn:hover {
color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  }


@media screen and (min-device-width: 900px){
.sidebar{
    display: none;
}
#main{
    display: none;
}
}



body{
  margin-left: -5px;
  width: 100vw !important;
  background-color:#e6e6e6 ;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
header{
  padding: 0px 0px;
  margin-top: px;
  margin-left: px;
  z-index: 90;
  background-color: black;
  display:inline-block;
  flex-direction: row;
  width: 102vw;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;

}
nav{
  max-width: 70%;
  padding-top: ;
  padding-bottom: -20px;
  display: flex;
  flex-direction: row;
  float: right;
  text-align: right;
  padding-right: 5%;
  box-sizing: border-box;
  right: 0;
}
.navlink{
  font-size: 1vw;
  padding: 0px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  font-family: 'Poppins', sans-serif;
}
.navlink:hover{
  color: white;
  text-decoration: underline;
}

#logo{
  position: fixed;
  width: 9vw;
  z-index: 9999;
  margin-top:-15px;
  padding: 0px 50px;

}

#banner{
  margin:-10px;
  background-image: url('banner-img.jpg');
  background-size: cover;
  background-position: top;
  box-sizing:border-box;
  height: 100vh;
  width: 102vw;
  padding:10%;
  text-align: center;

}
.bigtitle{
  color: red;
  text-shadow: 0px 0px 5px black;
  font-size: 4vw;

}
.subtitle{
  font-size: 2vw;

}
.freedelivery{

}
h5{
  text-align: center;
  font-weight: 500 !important;
  font-size: 4vw;
}
h4{
  padding: 10px 10%;
  font-weight: 500 !important;
  font-size: 1.5vw;
}
#rushvuba{
  margin: 7px 10% 5px 10%;
  border-radius: 50% !important; 
}
#About_{
  text-align: center;
}
section{
  text-align: center;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.fab{
  font-size: 20px;
}

@media screen and (max-device-width: 900px) {


nav{
   display: none;
}
body{
  padding-left: -10px;
  padding-top: -10px;
}
}


form{
  margin: 10% 20%;
}
input{
  margin: 20px 0px;
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 9px;
  border: 0.5px black solid;
  padding: 10px;
}
form{
  text-align: center;
  margin-top: -30px;
  border: none;

}
textarea{
  margin: 0px;
  width: 102%;
  height: 200px;
  border-radius: 9px;
}
.hero-btn{
  width: 20%;
  margin: 10%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;

}
.hero-btn:hover{
  background-color: white;

}
footer{
  text-align: center;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
}













@media screen and (max-device-width: 900px) {
header{
  display: none;
}

.bigtitle{
  font-size: 35px;

}
.subtitle{
  font-size: 20px;
  color: white;
}

#banner{
    margin-top: -80px;
    height: 60vh;
    padding: 25% 10%;
}
#logo{
  margin-left: -10px;
  width: 50px;
  margin-top: -15px;
}
h5{
  font-size: 50px;
}
h4{
  font-size: 25px;
}
body{
  padding-top: -20px;

}
}
